{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags cms_tags stol_extras %}

{% block content %}
<div class="top">
    <div class="top-left">
        <a class="button-top" href="/index">На Главную</a>
    </div>
    <div class="top-right">
        {% if not user.is_authenticated %}
        <a class="button-top" href="/accounts/login/">Вход</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a><u>{{user.username}}</u></a>
        <a class="button-top" href="/accounts/logout/">Выход</a>
        {% endif %}
    </div>
</div>

<div class="button-block2">
<div>
<h1 class="title">Главная импорта</h1>
</div>

<div class="dividx">

    <form action="" method="GET">
        {% csrf_token %}
        {% if imexproc != 0%}<input type="submit" class="button buttonidx" value="Домой">{% endif %}
    </form>
    <form action="" method="GET">
        {% csrf_token %}
        <input type="hidden" name="import" value="1">
        {% if imexproc == 0%}<input type="submit" class="button buttonidx" value="Импорт">{% endif %}

    </form>
    {% if imexproc == 1 %}
    <form action="/fileuploadtome/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-box">
            <input type="date" value="{{datasek}}" min="{{dateminmax.0}}" max="{{dateminmax.1}}" name="datepicker">
        </div>
    <div class="input-box">
        <input type="file" id="file" name="file" accept="text/csv" />
        <button type="submit" value=1 name="filedl">Загрузить</button>
        <input type="checkbox" name="submitok" value=78>
    </div>
    </form>
    {% endif %}
    <form action="" method="GET">
        {% csrf_token %}
        <input type="hidden" name="export" value="1">
        {% if exformat == "nothing" or exformat == "" %}<input type="hidden" name="format" value="nothing">{% else %} <input type="radio" name="format" value="csv" checked="checked"> csv {% endif %}
        {% if imexproc == 0 %}<input type="submit" class="button buttonidx" value="Экспорт">{% endif %}
        {% if imexproc == 2 %}
        <div class="input-box">
            <input type="date" value="{{datasek}}" min="{{dateminmax.0}}" max="{{dateminmax.1}}" name="datepicker">
        </div>
        <button type="submit" value=1 name="filedl">Скачать</button>
        {% endif %}
    </form>
</div>
</div>
<div>
{{datasek}}<br>
{{exformat}}<br>
{{filedl}}
</div>

{% endblock %}