{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags cms_tags stol_extras %}

{% block content %}

{% addtoblock 'js_end' %}
<script src="/static/js/jquery-3.6.1.min.js"></script>
<script src="/static/js/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/buttons.html5.min.js "></script>
<script>
    $(document).ready(function() {
            document.getElementById("datepickerf2").value = $("#datepickerf1").val();
    });
</script>
{% endaddtoblock %}
{% addtoblock 'css' %}
<style>
    .butka{
        display:block;
    }
</style>
<link rel="stylesheet" type="text/html" href="/static/js/jquery-dataTables/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/html" href="/static/js/jquery-dataTables/jquery.dataTables.min.css">
<style>
    input[type="date"]::-webkit-clear-button {
        -webkit-appearance: none;
        display: none;
    }

    input[type="date"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }

    input[type="date"]::-ms-clear {
        display: none;
    }
    #priems input[type="checkbox"]{
        transform: scale(2);
    }
    .divpit{
        float:left;
        background-color:#DDDDFF;
        margin:5px;
        padding:5px;
        border-radius:5px;
        box-shadow:4px 4px 8px 0px rgb(34 60 80 / 20%);
        color:black;
        font-weight: bold;
        font-size: 18px;
    }
    .divpit-r{
        float:right;
        background-color:#DDDDFF;
        margin:5px;
        padding:5px;
        border-radius:5px;
        box-shadow:4px 4px 8px 0px rgb(34 60 80 / 20%);
        color:black;
        font-weight: bold;
        font-size: 18px;
    }

    .divpit input[type="checkbox"]{
        transform: scale(2);
    }
    #datepickerdiv1{
        display:block;
        float:left
    }
    #datepickerf1disp{
        color:black;
    }
    .input-box{
        display:block;
        float:left;
        margin:3px;
    }
    #datepickerf1{
        float:left;
        height:45px;
    }
    .datpickrange{
        float:left;
        margin-left:1rem;
        margin-right:1rem;
        vertical-align:middle;
        height:45px;
        display:block

    }
    .rangepicked{
        float:left;
        vertical-align:middle;
        display: inline-block;
        height:45px;
        background-color:#00d5df;
    }
    .input-box2{
        display:block;
        margin:3px;
        float:left;
    }
    .input-box2 input{
        font-size: 30px;
        height: 45px;
    }
    .flleft{
        float:left;
    }
</style>

{% endaddtoblock %}
<div class="top">
    <div class="top-left">
        <a class="button-top" href="/index">На Главную</a>
    </div>
    <div class="top-right">
        {% if not user.is_authenticated %}
        <a class="button-top" href="/accounts/login/">Вход</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a><u>{{user.username}}</u></a>
        <a class="button-top" href="/accounts/logout/">Выход</a>
        {% endif %}
    </div>
</div>

<div class="container">
<h1>Отчеты2</h1>
    <form method="POST" id="formstolr1">
    {% csrf_token %}
    <input type="hidden" name="formr1" value="1">
    <input type="hidden" name="datepicker" value="" id="datepickerf2">
    <input type="hidden" name="otchettype" value=1>
    <input type="submit" value="ok" form="formstolr1">
    </form>

    <form method="POST" id="formstol">{% csrf_token %} <input type="hidden" name="form2" value="1"><input type="hidden" name="otchettype" value=2></form>
        <div class="input-box2">
            <input type="date" name="datepicker" value='{{ datasek }}' min="{{dateminmax.0}}" max="{{dateminmax.1}}" onchange="javascript:getElementById('formstol').submit()" id="datepickerf1" readonly form="formstol">
            <div class="rangepicked">
                <input type="date" name="datepickerrs" value='{{ dateminmaxrep.0 }}' min="{{dateminmax.0}}" max="{{dateminmax.1}}"  id="datepickerrs" class="datpickrange" form="formstol">
                <p class="datpickrange"> с даты - по дату </p>
                <input type="date" name="datepickerre" value='{{ dateminmaxrep.1 }}' min="{{dateminmax.0}}" max="{{dateminmax.1}}"  id="datepickerre" class="datpickrange" form="formstol">
                <input type="submit" value='Сформировать' form="formstol">
            </div>
        </div>
        
        <table class="table-one">
            <tr>
                <th>Класс</th>
                <th>Ученик</th>
                <th>Льгота</th>
                <th>Даты</th>
            </tr>
            {% for obj in datamodel1 %}
            <tr class="{{obj.typeofeda}}">
                <td>{{obj.classname}}</td>
                <td {% if obj.medflag %} class="medcenter" {% endif %} title="">{{obj.fio}}{% if obj.medflag %} =Медцентр {% endif %}</td>
                <td><div class="divpit">{% trans obj.typeofeda %} &nbsp</div>
                {% comment %}{{ obj.eda|get_value:'zavtrak' }}{% endcomment %}
                {% for objk, obje in obj.eda2.items %}
                    {% if objk == 'zavtrak' %} <div class="divpit">З={{obje}}</div>{% endif %}
                    {% if objk == 'obed' %} <div class="divpit">О={{obje}}</div>{% endif %}
                    {% if objk == 'poldnik' %} <div class="divpit">П={{obje}}</div>{% endif %}
                    {% if objk == 'ujin1' %} <div class="divpit">У1={{obje}}</div>{% endif %}
                    {% if objk == 'ujin2' %} <div class="divpit">У2={{obje}}</div>{% endif %}
                    {% if objk == 'zavtrakg' %} <div class="divpit">ЗЛ={{obje}}</div>{% endif %}
                    {% if objk == 'obedk' %} <div class="divpit">КОМ={{obje}}</div>{% endif %}
                    {% if objk == 'obedkg1' %} <div class="divpit">ГОР1={{obje}}</div>{% endif %}
                    {% if objk == 'obedkg2' %} <div class="divpit">ГОР2={{obje}}</div>{% endif %}
                    {% if objk == 'obedkg3' %} <div class="divpit">ГОР3={{obje}}</div>{% endif %}
                    {% if objk == 'internatp' %} <div class="divpit">ИНТП={{obje}}</div>{% endif %}
                {% endfor %}</td>
                <td>{{obj.a}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="100%" height="20px"></td>
            </tr>
            <tr>
                <td colspan="100%">
                    <div class="divpit-r"><a class="flleft">Итого:</a>
                        {% for objk, obje in eda2.items %}
                            {% if objk == 'zavtrak' %} <div class="divpit">З={{obje}}</div>{% endif %}
                            {% if objk == 'obed' %} <div class="divpit">О={{obje}}</div>{% endif %}
                            {% if objk == 'poldnik' %} <div class="divpit">П={{obje}}</div>{% endif %}
                            {% if objk == 'ujin1' %} <div class="divpit">У1={{obje}}</div>{% endif %}
                            {% if objk == 'ujin2' %} <div class="divpit">У2={{obje}}</div>{% endif %}
                            {% if objk == 'zavtrakg' %} <div class="divpit">ЗЛ={{obje}}</div>{% endif %}
                            {% if objk == 'obedk' %} <div class="divpit">КОМ={{obje}}</div>{% endif %}
                            {% if objk == 'obedkg1' %} <div class="divpit">ГОР1={{obje}}</div>{% endif %}
                            {% if objk == 'obedkg2' %} <div class="divpit">ГОР2={{obje}}</div>{% endif %}
                            {% if objk == 'obedkg3' %} <div class="divpit">ГОР3={{obje}}</div>{% endif %}
                            {% if objk == 'internatp' %} <div class="divpit">ИНТП={{obje}}</div>{% endif %}
                            
                        {% endfor %}

                    </div>
            </tr>
        </table>

</div>


{% endblock %}